.loadingScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  background: transparent;
}

.logo {
  background: transparent;
}

.logo1 {
  composes: logo;
  padding-right: 1rem;
}

.logo2 {
  composes: logo;
  margin-right: -0.625rem;
}

.logo3 {
  composes: logo;
  padding-right: 0.25rem;
}

.logo4 {
  composes: logo;
  padding-right: 0.5rem;
}

.logo5 {
  composes: logo;
  padding-right: 0.5rem;
}
