.container {
  background-color: #cec0ad;
  padding-top: 24vh;
}

.heading {
  background: transparent;
  color: #9c815a;
  margin-bottom: 10vh;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 900;
  margin-left: 3vw;
}

@media (max-width: 640px) {
  .heading {
    font-size: 55px;
  }
}

.formWrap {
  background: transparent;
}

.form {
  margin-left: 3vw;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #cec0ad;
}

.formInner {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  background: transparent;
}

.nameAndCategory {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  background: transparent;
}

@media (max-width: 640px) {
  .nameAndCategory {
    gap: 5vh;
  }
}

.cardWrap {
  background: transparent;
}

/* ID Card */
.idCard {
  width: 450px;
  height: 300px;
  background-color: #ad9676;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 640px) {
  .idCard {
    width: 355px;
  }
}

.idCardHeader {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  background-color: #9c815a;
}

.headerDot {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #cec0ad;
}

.headerBar {
  width: 70px;
  height: 10px;
  border-radius: 9999px;
  background-color: #cec0ad;
}

.idCardBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
  justify-content: center;
  background: transparent;
}

.avatarBox {
  position: relative;
  width: 30%;
  border-radius: 5px;
  margin: 10px;
  height: 130px;
  background-color: #cec0ad;
  overflow: hidden;
}

.avatarHead {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 62px;
  height: 62px;
  border-radius: 9999px;
  background-color: #ded5c8;
}

.avatarBody {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 115px;
  height: 115px;
  border-radius: 9999px;
  background-color: #ded5c8;
}

.idCardRight {
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.assignLabel {
  background: transparent;
  font-weight: 900;
  font-size: 35px;
  padding-left: 15px;
  color: #cec0ad;
  width: 100%;
  margin-top: 10px;
}

.employeeSelect {
  background-color: #cec0ad;
  width: 87%;
  height: 50%;
  margin-top: 6px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 900;
  color: #9c815a;
  font-size: 22px;
  outline: none;
  cursor: pointer;
  border: none;
}

.employeeSelect:focus {
  background-color: #ded5c8;
}

.fillerSection {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 30px;
  background: transparent;
  height: 100%;
}

@media (max-width: 640px) {
  .fillerSection {
    width: 85%;
  }
}

.fillerRow {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.fillerBarSm {
  background-color: #cec0ad;
  height: 5px;
  width: 84px;
  border-radius: 9999px;
}

.fillerBarLg {
  background-color: #cec0ad;
  height: 5px;
  width: 130px;
  border-radius: 9999px;
}

/* Notepad */
.notepad {
  position: relative;
  background-color: #ad9676;
  border-radius: 10px;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 640px) {
  .notepad {
    width: 355px;
  }
}

.notepadSpirals {
  position: absolute;
  top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: transparent;
}

.spiral {
  background-color: #9c815a;
  border-radius: 3px;
  width: 8px;
  height: 40px;
}

.notepadHoles {
  top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: transparent;
  margin-top: 8px;
}

.hole {
  background-color: #cec0ad;
  border-radius: 9999px;
  width: 35px;
  height: 35px;
}

.notepadContent {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.notepadLines {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 0.4;
}

.noteLine {
  background-color: #cec0ad;
  width: 100%;
  height: 2px;
}

.categoryInput {
  transform: translateY(-13px);
  margin-bottom: 22.5px;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  text-align: center;
  font-weight: 900;
  color: #ded5c8;
  font-size: 38px;
  z-index: 10;
  border: none;
}

.categoryInput::placeholder {
  text-align: center;
  font-weight: 900;
  color: #cec0ad;
  font-size: 38px;
  opacity: 0.7;
}

/* Window */
.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: #9c815a;
  margin-top: 4vh;
}

@media (max-width: 640px) {
  .window {
    height: 70vh;
  }
}

.windowControls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  transform: translateY(4px);
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  background: transparent;
}

.controlDash {
  height: 3.5px;
  width: 20px;
  border-radius: 9999px;
  background-color: #cec0ad;
}

.controlSquare {
  height: 18px;
  width: 18px;
  border: 3.5px solid #cec0ad;
  background: transparent;
}

.controlCircle {
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  border: 3.5px solid #cec0ad;
  background: transparent;
}

.windowBody {
  background-color: #9c815a;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 0%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 100%;
}

@media (max-width: 640px) {
  .windowBody {
    flex-direction: column;
    gap: 10px;
  }
}

.windowLeft {
  display: flex;
  border-radius: 10px 0 0 10px;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: #ad9676;
  padding: 20px;
}

@media (max-width: 640px) {
  .windowLeft {
    border-radius: 10px;
    width: 100%;
  }
}

.windowLeftInner {
  display: flex;
  flex-direction: column;
  background: transparent;
  height: 100%;
  width: 100%;
}

.windowTopRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
  background: transparent;
}

@media (max-width: 640px) {
  .windowTopRow {
    gap: 12px;
  }
}

.titleInputWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: transparent;
  width: 84%;
  height: 100%;
}

.titleInput {
  background-color: #cec0ad;
  padding-left: 25px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  outline: none;
  font-weight: 900;
  color: #9c815a;
  font-size: 35px;
  border: none;
}

.titleInput::placeholder {
  font-weight: 700;
  font-size: 35px;
  color: #bdab91;
}

@media (max-width: 640px) {
  .titleInput {
    font-size: 26px;
  }
  .titleInput::placeholder {
    font-size: 26px;
  }
}

.dateInputWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 16%;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.dateInput {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cec0ad;
  outline: none;
  width: 65px;
  height: 65px;
  border-radius: 9999px;
  color: #9c815a;
  border: none;
}

.dateDisplay {
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  color: #9c815a;
}

.descriptionWrap {
  display: flex;
  background: transparent;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.descriptionTextarea {
  outline: none;
  width: 100%;
  height: 100%;
  background-color: #cec0ad;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  color: #9c815a;
  resize: none;
  padding: 1rem;
  border: none;
}

.descriptionTextarea::placeholder {
  color: #bdab91;
}

.windowRight {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ad9676;
  border-radius: 0 10px 10px 0;
  height: 100%;
  width: 30%;
}

@media (max-width: 640px) {
  .windowRight {
    width: 100%;
  }
}

.createBtn {
  position: relative;
  overflow: hidden;
  background-color: #cec0ad;
  width: 230px;
  height: 230px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.createBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.createBtnText {
  background: transparent;
  color: #9c815a;
  font-weight: 900;
  font-size: 55px;
}

.createBtnHover {
  background-color: #7a5622;
  border-radius: 9999px;
  width: 0px;
  height: 0px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  z-index: -1;
}
