@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: none;
}

.wrapper {
  pointer-events: none;
}

body {
  font-family: "Funnel Sans", sans-serif;
  background-color: #111;
}

*:hover {
  cursor: none;
}

html,
body {
  overflow-x: hidden;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

::selection {
  color: #7a5622;
}

*::-webkit-scrollbar {
  display: none;
}

input[type="date"]::-webkit-datetime-edit {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  scale: 2.5;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(51%) sepia(43%) saturate(294%) hue-rotate(352deg);
}
