@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
  cursor: none;
  /* cursor: url('/src/assets/CustomLinuxCursor.svg'), auto; */
}

.wrapper{
  pointer-events: none;
}


body {
    font-family: 'Funnel Sans', sans-serif;
}


*:hover{
  
  cursor: none;
  /* cursor: url('/src/assets/CustomLinuxCursor.svg'), auto; */
}
html, body{
  overflow-x: hidden;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  
  
}

html{
  scrollbar-color: red;
  
}

body{
  scrollbar-color: blue;
}

::selection{
  color: #7a5622;
}

*::-webkit-scrollbar {
  display: none;
}

/* 

#tasklist::-webkit-scrollbar {
  display: none;
}

#alltasks::-webkit-scrollbar {
  display: none;
}
#allTasks::-webkit-scrollbar {
  display: none;
} */

img, svg {
  /* mix-blend-mode: difference; */
  /* background: white; */
}

input[type="date"]::-webkit-datetime-edit {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  scale: 2.5;  /* Adjust size */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(51%) sepia(43%) saturate(294%) hue-rotate(352deg);
}