.cursor {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border-radius: 9999px;
  z-index: 50;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}
